<loading-image [is-loading]="isLoading"></loading-image>
<div class="row pb-4">
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 100px;">
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center; margin-left:-90px">Issue Details</h2>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Issue Name</th>
                            <td>{{ issueGroup.get('issueName').value }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Asset Name</th>
                            <td>{{ this.currentAssetInfo.assetName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Issue Detail</th>
                            <td>{{ issueGroup.get('issueDetails').value }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Issue Type</th>
                            <td>{{ issueGroup.get('issueType').value }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Reported Problem</th>
                            <td>{{ issueGroup.get('reportedProblem').value }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Reported Date</th>
                            <td>{{ getFormattedDate(issueGroup.get('reportedDate').value) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Remark</th>
                            <td>{{ issueGroup.get('remarks').value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between"></div>
            <div class="myCommentSection">
                <form [formGroup]="commentIssueGroup" novalidate>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <div class="issueAddComment" style="margin-left:250px; margin-top:10px">
                                    <b>Add Comment</b>
                                    <span class="ml-2"> 
                                        <button (click)="isCommentBoxVisible = !isCommentBoxVisible" class="btn  btn-success" pButton pRipple>
                                            <i class="pi pi-plus"></i> 
                                        </button>
                                    </span>
                                </div>
                                <div *ngIf="isCommentBoxVisible">
                                    <textarea class="form-control mb-5 mt-5" cols="60" rows="3" formControlName="comment" placeholder="Enter Comment" style="min-height:80px; font-size: 18px;"></textarea>
                                    <div class="mb-3 text-right">
                                        <button class="btn btn-lg btn-danger custom-btn mr-2" (click)="cancelComment()"> 
                                            Cancel
                                        </button>
                                        <button class="btn btn-lg btn-success custom-btn ml-2" (click)="saveComments()">
                                            Comment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <h2 class="text-left pl-3"> 
        Comments
    </h2>
</div>
<p-dialog
    header="Add Your Reply"
    [(visible)]="BasicShow"
    [style]="{width: '30vw'}"
    styleClass="disable-scroll"
    [draggable]="false"
    [resizable]="false"
    
    [contentStyle]="{ 'overflow-y': 'hidden','overflow-x': 'hidden'}"
    class="reply-modal">
        <div class="row row-centered">
             <div class="col-sm-1"></div> 
            <div class="col-10">
                <form [formGroup]="replyIssueGroup" novalidate>
                    <textarea class="form-control reply-textarea" formControlName="reply" cols="70" rows="5"></textarea>
                </form>
            </div>
             <div class="col-sm-1">

            </div> 
        </div>
        <ng-template pTemplate="footer">
            <p-button (click)="BasicShow = false" styleClass="btn btn-lg btn-cancel reply-btn">Cancel</p-button>
            <p-button (click)="saveReplies()" styleClass="btn btn-lg btn-success reply-btn">Reply</p-button>
        </ng-template>
    </p-dialog>
<div class="card">
    
    <div class="card-content" *ngIf="issueCommentsAndReplies.length > 0;">
        <br>
        <div class="full-width"  style="width: 192%; margin-left: -95%;">
            <p-timeline [value]="issueCommentsAndReplies" align="left">
                <ng-template pTemplate="marker" let-issueComment>
                    <span class="custom-marker p-shadow-2" style="background-color: #fd7e14;">
                        <i class="pi pi-comment large-icon"></i>
                    </span>
                </ng-template>
                <ng-template pTemplate="content" let-issueComment>
                    <p-card [header]="issueComment.createdBy" [subheader]="issueComment.createdOn">
                        <p  style="font-size: 20px;">{{issueComment.comment}}</p>
                        <div style="text-align: left">
                            <button (click)="showDialog(issueComment.oid)" class="reply-btn"><i class="pi pi-reply"></i> Reply</button>
                        </div>
                    </p-card>
                    <br>
                    <div class="full-width" style="width: 176%; margin-left: -85%;">
                        <p-timeline [value]="issueComment.replies" *ngIf="issueComment.replies" align="left" styleClass="customized-timeline">
                            <ng-template pTemplate="marker" let-reply>
                                <span class="custom-marker p-shadow-2" [style.backgroundColor]="'#fd7e14'">
                                    <i class="pi pi-reply"></i>
                                </span>
                            </ng-template>
                            <ng-template pTemplate="content" let-reply>
                                <p-card [header]="reply.createdBy" [subheader]="reply.createdOn">
                                    <p style="font-size: 18px;">{{ reply.reply }}</p>
                                    <div style="text-align: left">
                                        
                                        <ng-template pTemplate="footer">
                                         <p-button
                                            (click)="BasicShow = false"
                                            label="Cancel"
                                            styleClass="btn btn-sm btn-cancel reply-btn">
                                        </p-button>
                                        <p-button
                                            (click)="saveReplies()"
                                            label="Accept"
                                            styleClass="btn btn-sm btn-success reply-btn ">
                                        </p-button>  
                                    </ng-template>
                                        <button (click)="showDialog(issueComment.oid)" class="reply-btn"><i class="pi pi-reply"></i> Reply</button>
                                    </div>
                                </p-card>
                                <br>
                            </ng-template>
                        </p-timeline>
                    </div>
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>