
.card-deck{
    margin-right: -40px;
    margin-left: -40px;
}
.a{
    margin-left:-150px;
}
.fs-5{
    font-size: 25px;
    margin-left: 35px;
}
.fs-2{
    font-size: 35px;
    margin-left: 15px;

    font-family:  kite-display !important; 
}
.pi{
    opacity: 50%;
    margin-right: 30px;
}
.pi:hover::before{
    transform: scale(1.1);
    /* box-shadow: 0 0 15px #ffee10; */
}
.pi:hover{
    color: white;
    opacity: 90%;
    text-shadow: 0 0 5px white;
    font-size: 6.5rem !important;
}
/* h3:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}
h3:hover{
    color: white;
    opacity: 95%;
    text-shadow: 0 0 20px white;
    font-size: 50px;
}
.fs-5:hover{
    color: white;
    opacity: 95%;
    text-shadow: 0 0 20px white;
    font-size: 30px;
} */
.col:hover{
    color: white;
    opacity: 95%;
    text-shadow: 0 0 20px white;
    font-size: 30px;
}