SQ_Project/.vs/SQ_Project/FileContentIndex/37ceb0ca-8a7d-498f-94e7-c9ca99934f4a.vsidx
SQ_Project/.vs/SQ_Project/v17/.suo
SQ_Project/.vs/SQ_Project/v17/.suo
SQ_Project/.vs/SQ_Project/v17/.suo
SQ_Project/.vs/SQ_Project/FileContentIndex/e42a99f1-63b9-4495-adc5-1888a266f802.vsidx
SQ_Project/.vs/SQ_Project/v17/.suo
SQ_Project/.vs/SQ_Project/v17/.suo
SQ_Project/.vs/SQ_Project/FileContentIndex/4b61699e-0f43-4894-8efa-a9fc63b3d807.vsidx
SQ_Project/SQ_Project/bin/Debug/net6.0/SQ_Project.dll
SQ_Project/SQ_Project/bin/Debug/net6.0/SQ_Project.pdb
