<div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="assetStatus" >
                <div class="card-header1 "style="background-color: #D6D6C6;">
                        <p style="color: #25465C; font-size: 23px;font-family: kite-display; position: absolute !important; margin-top: 15px;margin-left: 300px; ">Assets by Status</p>    
                </div>
                  <!-- <apx-chart [series]="assetStatusChartSeries" [chart]="assetStatusChartDetails"[labels]="assetStatusChartLabels" [title]="assetChartTitle"></apx-chart> -->
                <apx-chart [series]="assetStatusChartSeries" [chart]="assetStatusChartDetails"[labels]="assetStatusChartLabels" [colors]="ApexChartColors" ></apx-chart>
        
        </div>
        
        <div class="chartContainer">
                <div class="card-header2" style="background-color: #D6D6C6;">
                        <p style="color: #25465C; font-size: 23px;font-family: kite-display;  position: absolute !important; margin-top: 15px;margin-left: 300px;  ">Assets by Category </p>                         
                </div>
                       
                <!-- <apx-chart [series]="chartSeries" [chart]="chartDetails"[labels]="chartlabels" [title]="chartTitle"></apx-chart> -->
                <apx-chart [series]="chartSeries" [chart]="chartDetails"[labels]="chartLabels" [colors]="pieChartColors" ></apx-chart>
        
        </div>

</div>

