

/* .assetStatus{
    width: 500px;
    height: 500px;

} */

.assetStatus{
    height: 500px !important;
    width: 43% !important;
    float: left;
    padding:0px;
    margin-left: -25px !important;
    font-size: 35px !important;

    
    
}
.chartContainer{
    height: 500px !important;
    width: 46% !important;
    float: right;
    padding:0px;
    margin-right: -25px;
    font-size: larger !important;


}
.card-header1{
    height: 50px!important;
width: 765px !important;
}
.card-header2{
    height: 50px!important;
width: 765px !important;
margin-left: -75px!important;
}
/* .apxchart .apx-axis-labels text {
    font-size: 25px;
  } */

  



