.input-with-space {
    width: 90%; /* Or however wide you want the input field to be */
    margin-top: 10px; /* Or however much space you want between the label and input field */
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form-group {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.button-group .form-group {
    margin-bottom: 20px; /* Adjust the value as needed */
}