<loading-image [is-loading]="isLoading"></loading-image>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row pb-4">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 100px;">
                    <p-breadcrumb [model]="items"></p-breadcrumb>
                </div>
            </div>
            <div class="d-flex justify-content-between"></div>
            <div class="card p-3">
                <form [formGroup]="employeeGroup" novalidate>
                    <div class="container mt-5">
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group mt-2">
                              <label class="required" for="empCode">Emp Code</label>
                              <input class="form-control" formControlName="empCode" id="empCode" pInputText placeholder="{{'Emp Code'}}" type="text">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group mt-2">
                              <label class="required" for="name">Name</label>
                              <input class="form-control" formControlName="name" id="name" pInputText placeholder="{{'Name'}}" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group mt-2">
                              <label class="required" for="phoneNumber">Phone Number</label>
                              <input class="form-control" formControlName="phoneNumber" id="phoneNumber" pInputText placeholder="{{'Phone Number'}}" type="text">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group mt-2">
                              <label class="required" for="address">Address</label>
                              <input class="form-control" formControlName="address" id="address" pInputText placeholder="{{'Address'}}" type="text">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group button-group">
                        <button (click)="onCancel()" class="p-button-info btn-cancel mr-3" icon="pi pi-times" label="{{'Cancel'}}" pButton pRipple type="button">
                        </button>
                        <button (click)="onSubmit()" class="p-button-info" icon="pi pi-check" label="{{'Submit'}}" pButton pRipple type="button">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>