.menu-container {
    width: 200px;; /* Adjust based on the combined width of sidebar and sub-menu */
    height: 100%;
    min-height: 150vh;
    overflow-x: auto; /* Allows horizontal scrolling */
    top: 0;
    left: 0;
    background-color: white;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;   
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    scrollbar-width: none;
}

/* For IE and Edge */
.sidebar {
    -ms-overflow-style: none;
}

.sidebar-logo {
    display: block;
    max-width: 80%;    
    height: auto;       
    margin: 10px 20px 30px;
    background-color: white;   
}


.sidebar ul {
    list-style-type: none;
    padding-left: 0; 
}

.sidebar ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px; 
}

.sidebar li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar li.active{
    background-color: #C3C3C3;
}

.sidebar li.active a {
    color: white;
    font-weight: bold;
}

.sidebar li.active i {
    color: white;
    font-weight: bold;
}

.sidebar li:hover {
    background-color: #e6e6e6;
}

.sidebar li:hover a:not(.active) {
    color: black; 
}

.sidebar li:hover i:not(.active) {
    color: black; 
}

/* Reset list styles */
.sub-menu {
    /* display: none;  */
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    max-width: 270px;
    background-color: white;
    list-style-type: none;
    border-radius: 25px;
    position: absolute;  
    left: 120px;
    padding:20px 0 10px 20px;
    margin-top: 50px; 
    -webkit-animation:slide-right .25s cubic-bezier(.25,.46,.45,.94) both;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) both;   
}
@-webkit-keyframes slide-right{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(100px);transform:translateX(100px)}}@keyframes slide-right{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(100px);transform:translateX(100px)}}

/* .sub-menu li {
    margin-bottom: 10px;
} */

.sub-menu > li {
    display: flex;
    justify-content: space-between; 
    align-items: center;             
    position: relative;              
    padding: 10px 0;   
    margin-bottom: 10px;             
}


.sub-menu a, .sub-menu .pi {
    padding: 0 10px;
}

.sub-menu .pi {
    cursor: pointer;
}

.sub-menu > li > .sub-menu {
    display: none; 
    position: absolute;
    top: 0; 
    left: 70%; 
    background-color: white; 
    border: 1px solid #ccc; 
    min-width: 200px;     
}

.sub-menu > li:hover > .sub-menu {
    display: flex;
}

.sub-menu li:hover {
    margin-left: 10px;
    background-color: #C3C3C3;
    border-radius: 10px;
}

.sub-menu li a{
    margin: 0 0 0 20px;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.left-arrow {
    margin-right: 20px;
}



/* Media Screen */

@media screen and (max-width: 700px) {
        .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
    }

    @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}