<div class="sidebar">
  <img src="./../../../../assets/images/AMS_Logo.png" alt="Your Logo" class="sidebar-logo">
  <ul>
    <li><a class="active" href="#home">Home</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#news">M and S</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#contact">Operations</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">S & L</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">Finance</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">HR</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">Administration</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">IT</a><i class="pi pi-angle-right"></i></li>
  </ul>
</div>