<div class="sidebar">
  <img src="./../../../../assets/images/AMS_Logo.png" alt="Your Logo" class="sidebar-logo">
  <ul>
    <li class="active"><a href="#home">Home</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#news">M and S</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#contact">Operations</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">S & L</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">Finance</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#HR">HR</a><i class="pi pi-angle-right"></i>
      <ul class="sub-menu">
        <li><a href="Recruitment">Recruitment</a></li>
        <li><a href="Employee Confirmation">Employee Confirmation</a></li>
        <li><a href="Employee Clearance">Employee Clearance</a></li>
        <li><a href="OT">OT</a></li>
        <li><a href="Exceptions">Exceptions</a></li>
      </ul>
    </li>
    <li><a href="#about">Administration</a><i class="pi pi-angle-right"></i></li>
    <li><a href="#about">IT</a><i class="pi pi-angle-right"></i></li>
  </ul>
</div>