<div class="menu-container">
  <div class="sidebar">
    <img src="./../../../../assets/images/AMS_Logo.png" alt="Your Logo" class="sidebar-logo">
    <ul>
      <li class="active"><a href="#home">Home</a><i class="pi pi-angle-right"></i></li>
      <li><a>M and S</a><i class="pi pi-angle-right"></i></li>
      <li><a>Operations</a><i class="pi pi-angle-right"></i></li>
      <li><a>S & L</a><i class="pi pi-angle-right"></i></li>
      <li><a>Finance</a><i class="pi pi-angle-right"></i></li>
      <li (click)="toggleDiv()"><a>HR</a><i class="pi pi-angle-right"></i>
        <ul class="sub-menu" *ngIf="showDiv">
          <li><a>Recruitment</a><i class="pi pi-angle-right"></i>
            <ul class="sub-menu">
              <li><a>Recruitment Requisition-Mgt</a><i class="pi pi-angle-right"></i>
                <ul class="sub-menu">
                  <li><a>Recruitment Requisition-Mgt</a><i class="pi pi-angle-right"></i></li>
                  <li><a>Recruitment Requisition-Non Mgt</a><i class="pi pi-angle-right"></i></li>
                </ul>
              </li>
              <li><a>Recruitment Requisition-Non Mgt</a><i class="pi pi-angle-right"></i></li>
            </ul>
          </li>
          <li><a>Employee Confirmation</a><i class="pi pi-angle-right"></i></li>
          <li><a>Employee Clearance</a><i class="pi pi-angle-right"></i></li>
          <li><a>OT</a><i class="pi pi-angle-right"></i></li>
          <li><a>Exceptions</a><i class="pi pi-angle-right"></i></li>
        </ul> 
      </li>
      <li><a>Administration</a><i class="pi pi-angle-right"></i></li>
      <li><a>IT</a><i class="pi pi-angle-right"></i></li>
    </ul>
  </div>
</div>
