@import '~primeicons/primeicons.css';

body{
    background-color: #D9D9D9;
    height: 100%;
}

/* .container-scroller {
    height: 100vh;
} */

app-sidebar {
    flex-shrink: 0;
    width: 200px;  
}

.content-wrapper {
    overflow: hidden; 
} 
