<div class="container-fluid myform">
  <div class="row">
      <div class="col-md-8">
        <div class="card p-3 form-position">
          <div class="form-container">
            <div class="header">
              <h1>Welcome!</h1>
            </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="left-aligned-form">
                <div class="p-field form-field">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" id="username" formControlName="userName" pInputText required class="form-input">
                </div>
                <div class="p-field form-field">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" id="password" formControlName="password" pInputText required class="form-input">
                </div>
                <p-button type="submit" label="Submit" [disabled]="!loginForm.valid"></p-button>
              </form>
              <img src="./../../../../assets/images/login_image.png" alt="Description of Image" class="login-image">
            </div>
          </div>
      </div>
  </div>
</div>
